<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Ajouter Employe</title>
</head>

<body>

    <form class="row g-3" [formGroup]="employeForm" (ngSubmit)="onAddEmploye()">
        <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez le nom" formControlName="nom">
        </div>
        <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" placeholder="Entrez le prenom" formControlName="prenom">
        </div>
        <div class="col-md-6">
            <label for="date_naissance" class="form-label">Date Naissance</label>
            <input type="date" class="form-control" id="date_naissance" placeholder="Entrez la date de naissance"
                formControlName="date_naissance">
        </div>
        <div class="col-8">
            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresse" placeholder="Entrez l'adresse"
                formControlName="adresse">
        </div>
        <div class="col-md-6">
            <label for="num_telephone" class="form-label">Num Tel</label>
            <input type="number" class="form-control" id="num_telephone" formControlName="num_telephone"
                placeholder="Entrez le numero de telephone">
        </div>
        <div class="col-md-6">
            <label for="salaire" class="form-label">Salaire</label>
            <input type="number" class="form-control" id="salaire" formControlName="salaire"
                placeholder="Entrez le salaire">
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" formControlName="age"
                placeholder="Entrez l'age de l'employé">
        </div>
        <div class="col-md-6">
            <label for="nationalite" class="form-label">Nationalite</label>
            <input type="text" class="form-control" id="nationalite" formControlName="nationalite"
                placeholder="Entrez la nationalite">
        </div>
        <div class="col-md-6">
            <label for="fonction" class="form-label"> Fonction </label>
            <input type="text" class="form-control" id="fonction" formControlName="fonction"
                placeholder="Entrez la fonction">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

    <div class="container">
        <router-outlet></router-outlet>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>

</html>